<div id="container">
  <nav>
    <ol>
      <li>
        <a routerLinkActive="active" routerLink="/simple-store">Simple Store</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/rxjs-with-latest-from">RxJS WithLatestFrom Operator</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/rxjs-combine-latest">RxJS CombineLatest Operator</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/mvvm-pattern">MVVM Pattern</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/ngrx-effects">Ngrx Effects</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/behavior-example">Behavior Example</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/fetch-data-flow">Fetch Data Flow</a>
      </li>
    </ol>
  </nav>
  <div id="router">
    <router-outlet></router-outlet>
  </div>
</div>
